[submodule "aspects/dotfiles/files/.zsh/base16-shell"]
	path = aspects/dotfiles/files/.zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/base16-vim"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/coc.nvim"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-fish"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-airline"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/base16-vim-airline-themes"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/base16-vim-airline-themes
	url = https://github.com/dawikur/base16-vim-airline-themes.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-commentary"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vimagit"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vimagit
	url = https://github.com/jreybert/vimagit
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-gitgutter"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/tagbar"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/rust.vim"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-graphql"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-tmux-navigator"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-tmux-runner"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-tmux-runner
	url = https://github.com/christoomey/vim-tmux-runner
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-test"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/fzf.vim"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/fzf"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/dart-vim-plugin"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/editorconfig-vim"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "aspects/dotfiles/files/.tmux/plugins/tpm"]
	path = aspects/dotfiles/files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vendor/git-cipher"]
	path = vendor/git-cipher
	url = https://github.com/wincent/git-cipher.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-crystal"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-crystal
	url = https://github.com/rhysd/vim-crystal
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/vim-slang"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/vim-slang
	url = https://github.com/elorest/vim-slang
[submodule "aspects/dotfiles/files/.tmux/plugins/tmux-airline"]
	path = aspects/dotfiles/files/.tmux/plugins/tmux-airline
	url = https://github.com/andrewjstryker/tmux-airline.git
[submodule "aspects/nvim/files/.config/nvim/pack/bundle/start/tmuxline.vim"]
	path = aspects/nvim/files/.config/nvim/pack/bundle/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "aspects/dotfiles/files/.tmux/plugins/tmux-yank"]
	path = aspects/dotfiles/files/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "aspects/awesomewm/files/.config/awesome/bling"]
	path = aspects/awesomewm/files/.config/awesome/bling
	url = https://github.com/BlingCorp/bling.git
